@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #6c5ce7;
  background-color: #6c5ce7;
  z-index: 9999;
}

.header-tittle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px !important;
  /* identical to box height */

  color: #fff !important;
}

.custom-toggler {
  color: #a29bfe;
  font-size: 35px;
  border: none;
}

.fa-html5 {
  color: #fc5d0d;
}
.fa-css3-alt {
  color: #0d9cfc;
}
.fa-react {
  color: #0df0fc;
}
.fa-js {
  color: #fcc00d;
}
.fa-bootstrap {
  color: #903bff;
}
.fa-adobe {
  background-image: url(svg/adobe.svg);
  /* color: #e61717; */
}
.fa-linux {
  color: #1f1c1c;
}
.fa-git-alt {
  color: #f54105;
}
.fa-github {
  color: #1e2629;
}
.fa-java {
  color: #2e7894;
}
.fa-figma {
  color: #15bb84;
}
.fa-cpanel {
  color: #f54105;
}

/* ! *************************************************** /
!                                                        /
!                                                        /
!                                                        /
!              SEPARANDO OS MEDIA QUERYS                 /
!                                                        /
!                                                        /
!                                                        /
! ***************************************************** */
/* CSS para telas pequenas/mobile */
@media screen and (max-width: 767px) {
  .navbar-right li a {
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }

  .custom-bg {
    background-color: #6c5ce7;
    border-radius: 20px;
  }

  .navbar-light .navbar-toggler {
    border: 0;
  }

  /* change the link color and padding  */
  .navbar-custom .navbar-nav .nav-link {
    color: #a29bfe !important;
    padding: 0.75rem 1rem;
  }

  /* change the color and bg color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #fff !important;
  }

  /*? ******************************/
  /*? ****  HOME AND ABOUT ME  *****/
  /*? ******************************/
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 40px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .rounded-img {
    width: 450px;
    background: url(Eu-8.jpg);
    mix-blend-mode: normal;
    box-shadow: 6px 6px 25px 5px rgba(0, 0, 0, 0.2);
    z-index: 500;
  }

  /* REMOVENDO SVG NO MOBILE */
  .div3 > svg {
    position: absolute;
    width: 1px;
    opacity: 0;
    z-index: -1000;
  }

  .about-me {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-indent: 30px;
    color: #636e72;
  }

  .tittle {
    font-size: 60px !important;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    /* identical to box height */
    text-decoration-line: underline;
  }

  .tt-1 {
    color: #2d3436 !important;
    margin-right: 10%;
  }
  .tt-2 {
    color: #a29bfe !important;
  }

  /*? ******************************/
  /*? ******  SKILLS SECTION  ******/
  /*? ******************************/

  .row-skill {
    width: 100%;
    padding-top: 40px;
  }

  .row-skill i {
    height: 5rem;
    width: 5rem;
    line-height: 6rem;
    font-size: 5rem;
  }

  .skills-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 5rem;
    width: 100%;
  }

  .skills-ul li {
    margin-left: 30px;
  }

  .sub-line {
    font-size: 40px !important;
    color: #6c5ce7;
  }

  .sub-line {
    position: relative;
    text-align: center;
  }

  .sub-line::before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 55px;
    height: 3px;
    background-color: #b0b0b0;
  }

  /*? ******************************/
  /*? *****  CONTACT SECTION  ******/
  /*? ******************************/

  .ctt-info,
  .contact-section {
    font-family: "Poppins", sans-serif;
    background-color: #2d3436;
    margin-top: -8px;
  }

  .ctt-info {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }

  .contato {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .ctt-info h6 {
    font-weight: 400;
    color: #fff;
    font-size: 20px !important;
  }

  .ctt-info p {
    font-weight: 200;
    color: #a29bfe;
  }

  .ctt-info a {
    color: #a29bfe;
  }

  .row-social {
    display: flex;
    justify-content: left;
    font-size: 30px;
    letter-spacing: 30px;
  }

  .row-social .fab {
    color: #fff;
  }

  /*? ******************************/
  /*? ******  FOOTER SECTION  ******/
  /*? ******************************/

  footer {
    background-color: #6c5ce7;
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .copyright {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
  }
  .copyright a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .copyright a:hover {
    color: #12102b;
    text-decoration: none;
  }
}

/* ! *************************************************** /
!                                                        /
!                                                        /
!                                                        /
!              SEPARANDO OS MEDIA QUERYS                 /
!                                                        /
!                                                        /
!                                                        /
! ***************************************************** */

/* CSS para telas grandes */
@media screen and (min-width: 1200px) {
  .navbar-right li a {
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-right: 35px;
  }

  /* change the link color and padding  */
  .navbar-custom .navbar-nav .nav-link {
    color: #fff !important;
  }

  /* change the color and bg color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #6c5ce7 !important;
    background-color: #fff;
    padding: 32px 15px 32px 15px;
  }

  /*? ******************************/
  /*? ****  HOME AND ABOUT ME  *****/
  /*? ******************************/
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 250px;
    grid-row-gap: 20px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .rounded-img {
    position: absolute;
    margin-top: 150px;
    width: 450px;
    background: url(Eu-8.jpg);
    mix-blend-mode: normal;
    box-shadow: 6px 6px 25px 5px rgba(0, 0, 0, 0.2);
    z-index: 500;
  }

  .div3 > svg {
    position: absolute;
    width: 700px;
    float: left;
    right: 10px;
  }

  .about-me {
    position: absolute;
    width: 600px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-indent: 30px;
    color: #2d3436;
  }

  .tittle {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 150px;
    /* identical to box height */
    text-decoration-line: underline;
  }

  .tt-1 {
    color: #2d3436 !important;
    opacity: 1;
    transition: 0.5s;
  }
  .tt-2 {
    color: #a29bfe !important;
    opacity: 1;
    transition: 0.6s;
  }

  .tt-2:hover,
  .tt-1:hover {
    opacity: 0.7 !important;
  }

  /*? ******************************/
  /*? ****  EXPERIENCE SECTION  ****/
  /*? ******************************/

  @keyframes animateWave {
    0% {
      transform: scale(1, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }

  .container-content {
    width: 100%;
    background-color: #a29bfe;
  }

  /*? ******************************/
  /*? ******  SKILLS SECTION  ******/
  /*? ******************************/

  .row-skill {
    width: 100%;
    padding-top: 40px;
  }

  .row-skill i {
    height: 5rem;
    width: 5rem;
    line-height: 6rem;
    font-size: 6rem;
  }

  .skills-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 5rem;
    width: 100%;
  }

  .skills-ul li {
    margin-left: 100px;
  }

  .sub-line {
    font-size: 80px !important;
    color: #6c5ce7;
  }

  .sub-line {
    position: relative;
    text-align: center;
  }

  .sub-line::before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 86px;
    height: 5px;
    background-color: #b0b0b0;
  }

  /*? ******************************/
  /*? *****  CONTACT SECTION  ******/
  /*? ******************************/

  .ctt-info,
  .contact-section {
    font-family: "Poppins", sans-serif;
    background-color: #2d3436;
    margin-top: -2px;
  }

  .ctt-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .ctt-info h6 {
    font-weight: 400;
    color: #fff;
    font-size: 20px !important;
  }

  .ctt-info p {
    font-weight: 200;
    color: #a29bfe;
  }

  .ctt-info a {
    color: #a29bfe;
  }
  .ctt-info a:hover {
    text-decoration: none;
    color: #d7d4ff;
  }

  .row-social {
    display: flex;
    justify-content: left;
    font-size: 30px;
    letter-spacing: 30px;
  }

  .row-social .fab {
    color: #fff;
  }

  .lk:hover {
    color: #0077b5;
  }
  .gt:hover {
    color: #9b9b9b;
  }
  .wpp:hover {
    background: linear-gradient(
      45deg,
      #00e676,
      #1ebea5,
      #00e676,
      #00e676,
      #edf8f5,
      #ffffff
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .insta:hover {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /*? ******************************/
  /*? ******  FOOTER SECTION  ******/
  /*? ******************************/

  footer {
    background-color: #6c5ce7;
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .copyright {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
  }
  .copyright a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .copyright a:hover {
    color: #12102b;
    text-decoration: none;
  }
}

/* ! *************************************************** /
!                                                        /
!                                                        /
!                                                        /
!              SEPARANDO OS MEDIA QUERYS                 /
!                                                        /
!                                                        /
!                                                        /
! ***************************************************** */

/* CSS para telas medianas */
@media (min-width: 768px) and (max-width: 1199px) {
  .navbar-right li a {
    text-align: right;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    margin-right: 35px;
  }

  /* change the link color and padding  */
  .navbar-custom .navbar-nav .nav-link {
    color: #fff !important;
  }

  /* change the color and bg color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #6c5ce7 !important;
    background-color: #fff;
    padding: 32px 15px 32px 15px;
  }

  /*? ******************************/
  /*? ****  HOME AND ABOUT ME  *****/
  /*? ******************************/
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 250px;
    grid-row-gap: 20px;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .rounded-img {
    position: absolute;
    margin-top: 150px;
    width: 450px;
    background: url(Eu-8.jpg);
    mix-blend-mode: normal;
    box-shadow: 6px 6px 25px 5px rgba(0, 0, 0, 0.2);
    z-index: 500;
    left: 41vh;
  }

  .div3 > svg {
    position: absolute;
    width: 550px;
    float: left;
    right: 10px;
    top: 100px;
  }

  .about-me {
    position: absolute;
    width: 500px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-indent: 30px;
    color: #2d3436;
  }

  .tittle {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 100px;
    line-height: 150px;
    /* identical to box height */
    text-decoration-line: underline;
  }

  .tt-1 {
    color: #2d3436 !important;
    opacity: 1;
    transition: 0.5s;
  }
  .tt-2 {
    color: #a29bfe !important;
    opacity: 1;
    transition: 0.6s;
  }

  .tt-2:hover,
  .tt-1:hover {
    opacity: 0.7 !important;
  }

  /*? ******************************/
  /*? ****  EXPERIENCE SECTION  ****/
  /*? ******************************/

  @keyframes animateWave {
    0% {
      transform: scale(1, 0);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  .wave-container > svg {
    display: block;
    transform-origin: bottom;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  }

  .container-content {
    width: 100%;
    background-color: #a29bfe;
  }

  /*? ******************************/
  /*? ******  SKILLS SECTION  ******/
  /*? ******************************/

  .row-skill {
    width: 90%;
    padding-top: 60px;
  }

  .row-skill i {
    height: 5rem;
    width: 5rem;
    line-height: 6rem;
    font-size: 6rem;
  }

  .skills-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    line-height: 5rem;
    width: 100%;
  }

  .skills-ul li {
    margin-left: 100px;
  }

  .sub-line {
    font-size: 80px !important;
    color: #6c5ce7;
  }

  .sub-line {
    position: relative;
    text-align: center;
  }

  .sub-line::before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 86px;
    height: 5px;
    background-color: #b0b0b0;
  }

  /*? ******************************/
  /*? *****  CONTACT SECTION  ******/
  /*? ******************************/

  .ctt-info,
  .contact-section {
    font-family: "Poppins", sans-serif;
    background-color: #2d3436;
    margin-top: -2px;
  }

  .ctt-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .ctt-info h6 {
    font-weight: 400;
    color: #fff;
    font-size: 20px !important;
  }

  .ctt-info p {
    font-weight: 200;
    color: #a29bfe;
  }

  .ctt-info a {
    color: #a29bfe;
  }
  .ctt-info a:hover {
    text-decoration: none;
    color: #d7d4ff;
  }

  .row-social {
    display: flex;
    justify-content: left;
    font-size: 30px;
    letter-spacing: 30px;
  }

  .row-social .fab {
    color: #fff;
  }

  .lk:hover {
    color: #0077b5;
  }
  .gt:hover {
    color: #9b9b9b;
  }
  .wpp:hover {
    background: linear-gradient(
      45deg,
      #00e676,
      #1ebea5,
      #00e676,
      #00e676,
      #edf8f5,
      #ffffff
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .insta:hover {
    background: radial-gradient(
      circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /*? ******************************/
  /*? ******  FOOTER SECTION  ******/
  /*? ******************************/

  footer {
    background-color: #6c5ce7;
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
  }

  .copyright {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 27px;
  }
  .copyright a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .copyright a:hover {
    color: #12102b;
    text-decoration: none;
  }
}
