:root {
  --bg-color: hsl(228, 33%, 97%);
  --nav-bg: hsl(207, 42%, 44%);
  --titleh1: hsl(191, 92%, 46%);
  --xp-title: hsl(207, 42%, 44%); /*usado para "Olá, eu sou"*/
  --subtitleh2: hsl(223, 55%, 22%);
  --text-p: hsl(215, 18%, 57%);
  --back-skills: hsl(0, 0%, 77%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /* background-color: var(--bg-color); */
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.nav-home,
.nav-home ul {
  display: flex;
  justify-content: flex-end;
  place-items: center;
  flex-direction: row;

  width: 100%;
  max-width: 1440px;
  padding: 3vh;
  margin: auto;

  position: fixed;
  transition: background-color 0.5s ease-in-out;
}

a.active {
  color: var(--subtitleh2);
  font-weight: bold;
}

.nav-home ul li {
  color: var(--xp-title);
  padding-left: 3vh;
}

.solid-nav {
  background-color: var(--nav-bg);
  /* transition: background-color 1s ease-in-out; */
}

.nav-home.solid-nav ul a.active {
  color: hsl(191, 96%, 63%);
}

.nav-home.solid-nav ul li {
  color: white;
}

.nav-home.solid-nav li.fixed-color {
  margin-left: 2vh;
  display: grid;
  place-items: center;
  height: 30px;
  width: 100px;
  padding-left: 0;
  border-radius: 25px;
  background-color: var(--bg-color);
  color: var(--nav-bg);
}

.home {
  background: url("/svg/pattern-bg2.svg") var(--bg-color) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.middle {
  position: absolute;
  top: 90vh;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mouse {
  width: 20px;
  height: 40px;
  border: 2px solid hsl(0, 0%, 58%);
  border-radius: 60px;
}
.mouse::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  background: hsl(0, 0%, 51%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}
@keyframes mouse {
  from {
    opacity: 1;
    top: 5px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}

.container-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6vh;
  place-items: center;
  justify-content: space-around;

  max-width: 1440px;
  width: 100%;
  max-height: 80vh;
  height: 100vh;
  padding: 0 0 0 10vh;
  margin: auto;
}

.pic-header {
  background: transparent;
  grid-area: 1 / 2 / 2 / 3;
  box-shadow: 31px 36px 23px -14px hsl(0, 0%, 42%);
}
.pic-header img {
  margin-bottom: -10px; /* para remover parte branca sobrando */
  width: 100%;
}

.text-header {
  grid-area: 1 / 1 / 2 / 2;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  word-spacing: 2px;
}

.text-header h1 {
  color: var(--xp-title);
  font-size: 2.5rem;
  margin: 0 0 5vh 0;
}

.text-header h1 span {
  color: var(--subtitleh2);
}

.text-header p {
  color: var(--text-p);
  font-size: 0.9rem;
}

.text-header button {
  background: var(--bg-color);
  border: 2px solid var(--nav-bg);
  border-radius: 25px;
  margin: 5vh 0 0 0;
  width: 280px;
  height: 50px;
  color: var(--titleh1);

  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;

  transition: ease-in-out 0.3s;
}

.text-header button:hover {
  background: var(--titleh1);
  color: white;
}
/* END HEADER SECTION  */

.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10vh;
}

.education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.experience h1 {
  color: var(--titleh1);
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.education h1:nth-of-type(1) {
  margin: 5vh 5vh 15vh 5vh;
}

.workExperience h1:nth-of-type(1) {
  font-size: 3em;
  margin: 15vh 0;
}

.education .container-education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.img-logo-ifba {
  height: 12vh;
}

.description-education {
  padding-left: 40px;
}

.description-education > h2 {
  font-size: 1.3rem;
  color: var(--xp-title);
}

.description-education h3 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-p);
  padding-top: 0.6rem;
}

.description-education > p:nth-of-type(1) {
  font-size: 1rem;
  color: var(--titleh1);
  padding-top: 0.6rem;
  font-weight: bold;
}

.description-education > p:nth-of-type(2) {
  font-size: 1rem;
  color: var(--text-p);
  max-width: 85%;
  padding-top: 1.5rem;
}

.workExperience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10vh;
}

.accordion {
  background-color: transparent;
  color: #444;
  cursor: pointer;
  padding: 18px 0 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.content {
  display: flex;
  justify-content: space-between;
  place-items: center;
  flex-direction: row;
  padding-bottom: 2vh;
}

.content h2 {
  color: var(--xp-title);
}

.space-content {
  display: flex;
  place-items: center;
  flex-direction: row;
  width: 50vh;
  justify-content: space-between;
}

.content h3 {
  color: var(--xp-title);
  font-weight: normal;
}

.content p {
  color: var(--text-p);
}

.arrow {
  width: 30px;
  opacity: 0.8;
  transition: 0.4s ease-out;
}

.accordion.active .arrow {
  transform: rotateX(180deg);
}

.accordion.active {
  transition: ease-in-out;
  background-color: rgb(235, 236, 236);
  border-radius: 15px 15px 0 0;
}

.accordion.active .content {
  padding: 1vh 1vh;
}

.separate {
  border: 2px solid var(--titleh1);
  margin: 4vh 30vh;
}

.drop-hr {
  border: 1px solid hsl(0, 0%, 80%);
  border-bottom: transparent;
}

.dropdown {
  background-color: rgba(248, 248, 248, 0.452);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.dropdown p {
  padding: 4vh 12vh;
  color: var(--text-p);
  font-size: 1.2rem;
}

.skills-work-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.skills-work-experience img {
  width: 80px;
  height: auto;
  margin: 5vh 1vh;
}
/* END EXPERIENCE SECTION  */

.skills {
  background: url("/svg/pattern-bg0.svg") var(--bg-color) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  width: 100%;
  height: 80vh;
}

.habilidades {
  display: flex;
  flex-direction: column;
  margin: 10vh;
}

.habilidades h1 {
  padding: 20vh 0 10vh 0;
  text-align: center;
  color: var(--titleh1);
  font-size: 3rem;
  text-transform: uppercase;
}

.content-skills {
  padding: 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 50px;
}

.content-skills p {
  color: var(--text-p);
  font-size: 1rem;
}

.container-bar {
  border-radius: 15px;
  background-color: hsl(0, 0%, 77%);
  margin: 1vh 0;
}

.bar-skill {
  text-align: right;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  border-radius: 15px;
}

.html5,
.css3,
.javascript,
.bootstrap,
.reactjs,
.git,
.sql,
.linux,
.java,
.pacote-adobe,
.figma,
.cpanel {
  background-color: var(--titleh1);
}

.html5 {
  width: 95%;
}
.css3 {
  width: 89%;
}
.javascript {
  width: 60%;
}
.bootstrap {
  width: 30%;
}
.reactjs {
  width: 40%;
}
.git {
  width: 70%;
}
.sql {
  width: 70%;
}
.linux {
  width: 40%;
}
.java {
  width: 25%;
}
.pacote-adobe {
  width: 80%;
}
.figma {
  width: 60%;
}
.cpanel {
  width: 90%;
}
/* END SKILL SECTION  */

.wave-container {
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  height: 20vh;
  width: 100%;

  background: url("/svg/pattern-bg0.svg") var(--bg-color) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contact {
  background-color: var(--nav-bg);
  width: 100%;
  /* height: 100vh; */
}

.content-footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10vh;
  max-width: 1440px;
}

.content-footer h1 {
  color: hsl(191, 96%, 63%);
  font-size: 1.2rem;
  margin-bottom: 3vh;
}

.content-footer p {
  color: var(--bg-color);
  font-size: 0.9rem;
  font-weight: normal;
  margin-bottom: 0.8vh;
}

.loc a:hover,
.ctt a:hover {
  cursor: pointer;
  text-decoration: underline white;
}

.social i {
  font-size: 2rem;
}

.icons-social i {
  margin-right: 2vh;
}

.fa-linkedin,
.fa-github,
.fa-whatsapp,
.fa-telegram-plane {
  color: hsl(0, 0%, 93%);
}
.fa-linkedin:hover {
  color: hsl(197, 100%, 50%);
}

.fa-github:hover {
  color: hsl(0, 0%, 16%);
}

.fa-whatsapp:hover {
  color: hsl(151, 74%, 53%);
}

.fa-telegram-plane:hover {
  color: hsl(214, 100%, 76%);
}

/* END CONTACT SECTION  */

footer {
  background-color: var(--titleh1);
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.copyright {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 27px;
}
.copyright a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
}

.copyright a:hover {
  color: var(--subtitleh2);
  text-decoration: none;
}
